<!--==========================
  Header
  ============================-->


  <app-header></app-header>

  
<!--Fin Header-->

<!--==========================
    Intro Section
  ============================-->

  <app-intro></app-intro>

  <main id="main">
    <!-- #intro -->


    <!--==========================
      About Us Section
    ============================-->
<app-about></app-about>
<!-- #about -->

<!--==========================
      Services Section
    ============================-->

    <app-services></app-services>
    
<!-- #services -->

<!--==========================
      Why Us Section
    ============================-->
    <app-why></app-why>

    <!--==========================
      Portfolio Section
    ============================-->
<app-portfolio></app-portfolio>
    
<!-- #portfolio -->

<!--==========================
      Team Section
    ============================-->
    <app-team></app-team>

    <!-- #team -->

    <!--==========================
      Clients Section
    ============================-->

    <app-clients></app-clients>

    <!--==========================
      Contact Section
    ============================-->
  <app-contact></app-contact>
   
   
    <!-- #contact -->
  

  <!--==========================
    Footer
  ============================-->
  <app-footer></app-footer>

  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->



<router-outlet></router-outlet>
